---
import Layout from '../layouts/Layout.astro';
import TodoView from '../components/todo_view.astro';
---

<Layout title="based-todo">
	<main class="flex flex-row h-full">
		<TodoView />
	</main>
</Layout>

<style>
	
</style>
