---

---

<div class="h-full w-2/12 bg-stone-700 border-b-2 border-b-stone-900 flex transition-all" id="side_bar"></div>
    <h1 class="text-3xl text-red-400"> Some content a bit longer longer</h1>
</div>

<style>

</style>